body,div, h1, h2, h3, h4, h5, h6, ul, li, ol,dl, dt, dd, p ,select,input,textarea{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '.PingFangSC-Light', '兰亭细黑';
    box-sizing: border-box;
}
a
    text-decoration none
ul
    list-style none
.fixed 
    position fixed
    top 0
    left 0
.wrapper
    margin-top 90px
.triangle
    width 0
    height 0
    border 4px solid transparent
    border-top-color #c1c1c1
    position absolute
    right 20px
    top 18px
